In [31]:
import pandas as pd
import numpy as np

In [32]:
dataset=pd.read_csv("PrePlacement.csv")

In [33]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [34]:
dataset.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [35]:
dataset.cov()

ValueError: could not convert string to float: 'M'

In [6]:
print(dataset.dtypes)

sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [7]:
print(dataset.isnull().sum())

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [8]:
numeric_dataset = dataset.select_dtypes(include=['float64', 'int64'])
cov_matrix = numeric_dataset.cov()

In [9]:
dataset.cov()

ValueError: could not convert string to float: 'M'

In [22]:
# Create DataFrame
dataset = pd.DataFrame(dataset)

In [23]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        #print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)
    return quan,qual

In [41]:
# Separate quantitative and qualitative columns
quan, qual = quanQual(dataset)

In [42]:
# Handle missing values for quantitative columns
from sklearn.impute import SimpleImputer
imp_num = SimpleImputer(strategy='mean')
df_quan = pd.DataFrame(imp_num.fit_transform(dataset[quan]), columns=quan)

In [43]:
# Handle missing values for qualitative columns
imp_cat = SimpleImputer(strategy='most_frequent')
df_qual = pd.DataFrame(imp_cat.fit_transform(dataset[qual]), columns=qual)

In [44]:
# Combine processed quantitative and qualitative data
processed_data = pd.concat([df_quan, df_qual], axis=1)

In [45]:
# Covariance (only for quantitative data)
print("Covariance Matrix:")
print(df_quan.cov())

Covariance Matrix:
                 sl_no          ssc_p          hsc_p       degree_p  \
sl_no      3870.000000     -52.641355     -59.598879     -41.465047
ssc_p       -52.641355     117.228377      58.853253      42.702550
hsc_p       -59.598879      58.853253     112.063731      33.684453
degree_p    -41.465047      42.702550      33.684453      53.604710
etest_p      52.556168      37.659225      33.838355      22.078774
mba_p         8.102336      24.535952      21.517688      17.185200
salary    11383.177570  908858.485818  731007.850848  466336.264888

                etest_p          mba_p        salary
sl_no         52.556168       8.102336  1.138318e+04
ssc_p         37.659225      24.535952  9.088585e+05
hsc_p         33.838355      21.517688  7.310079e+05
degree_p      22.078774      17.185200  4.663363e+05
etest_p      176.251018      16.886973  3.727004e+05
mba_p         16.886973      34.028376  1.239934e+05
salary    372700.449468  123993.387361  2.259185e+10

In [46]:
# Correlation (only for quantitative data)
print("\nCorrelation Matrix:")
print(df_quan.corr())

Correlation Matrix:
             sl_no     ssc_p     hsc_p  degree_p   etest_p     mba_p    salary
sl_no     1.000000 -0.078155 -0.090500 -0.091039  0.063636  0.022327  0.001217
ssc_p    -0.078155  1.000000  0.513478  0.538686  0.261993  0.388478  0.558475
hsc_p    -0.090500  0.513478  1.000000  0.434606  0.240775  0.348452  0.459424
degree_p -0.091039  0.538686  0.434606  1.000000  0.227147  0.402376  0.423762
etest_p   0.063636  0.261993  0.240775  0.227147  1.000000  0.218055  0.186775
mba_p     0.022327  0.388478  0.348452  0.402376  0.218055  1.000000  0.141417
salary    0.001217  0.558475  0.459424  0.423762  0.186775  0.141417  1.000000

In [47]:
# Print the processed dataset
print("\nProcessed Dataset:")
print(processed_data)

Processed Dataset:
     sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p    salary gender    ssc_b  \
0      1.0  67.00  91.00     58.00     55.0  58.80  270000.0      M   Others
1      2.0  79.33  78.33     77.48     86.5  66.28  200000.0      M  Central
2      3.0  65.00  68.00     64.00     75.0  57.80  250000.0      M  Central
3      4.0  56.00  52.00     52.00     66.0  59.43       0.0      M  Central
4      5.0  85.80  73.60     73.30     96.8  55.50  425000.0      M  Central
..     ...    ...    ...       ...      ...    ...       ...    ...      ...
210  211.0  80.60  82.00     77.60     91.0  74.49  400000.0      M   Others
211  212.0  58.00  60.00     72.00     74.0  53.62  275000.0      M   Others
212  213.0  67.00  67.00     73.00     59.0  69.72  295000.0      M   Others
213  214.0  74.00  66.00     58.00     70.0  60.23  204000.0      F   Others
214  215.0  62.00  58.00     53.00     89.0  60.22       0.0      M  Central

       hsc_b     hsc_s   degree_t workex specialisation      status
0     Others  Commerce   Sci&Tech     No         Mkt&HR      Placed
1     Others   Science   Sci&Tech    Yes        Mkt&Fin      Placed
2    Central      Arts  Comm&Mgmt     No        Mkt&Fin      Placed
3    Central   Science   Sci&Tech     No         Mkt&HR  Not Placed
4    Central  Commerce  Comm&Mgmt     No        Mkt&Fin      Placed
..       ...       ...        ...    ...            ...         ...
210   Others  Commerce  Comm&Mgmt     No        Mkt&Fin      Placed
211   Others   Science   Sci&Tech     No        Mkt&Fin      Placed
212   Others  Commerce  Comm&Mgmt    Yes        Mkt&Fin      Placed
213   Others  Commerce  Comm&Mgmt     No         Mkt&HR      Placed
214   Others   Science  Comm&Mgmt     No         Mkt&HR  Not Placed

[215 rows x 15 columns]

dataset.cov()

# Another Step:

In [36]:
# Create DataFrame
dataset = pd.DataFrame(dataset)

In [37]:
# Step 1: Select numerical columns
numeric_columns = dataset.select_dtypes(include=[np.number])

In [38]:
# Step 2: Handle missing values
numeric_columns = numeric_columns.fillna(numeric_columns.mean())

In [39]:
# Step 3: Compute the covariance matrix
cov_matrix = numeric_columns.cov()

In [40]:
# Step 4: Display the covariance matrix
print("Covariance Matrix:")
print(cov_matrix)

Covariance Matrix:
                 sl_no          ssc_p          hsc_p       degree_p  \
sl_no      3870.000000     -52.641355     -59.598879     -41.465047
ssc_p       -52.641355     117.228377      58.853253      42.702550
hsc_p       -59.598879      58.853253     112.063731      33.684453
degree_p    -41.465047      42.702550      33.684453      53.604710
etest_p      52.556168      37.659225      33.838355      22.078774
mba_p         8.102336      24.535952      21.517688      17.185200
salary    11383.177570  908858.485818  731007.850848  466336.264888

                etest_p          mba_p        salary
sl_no         52.556168       8.102336  1.138318e+04
ssc_p         37.659225      24.535952  9.088585e+05
hsc_p         33.838355      21.517688  7.310079e+05
degree_p      22.078774      17.185200  4.663363e+05
etest_p      176.251018      16.886973  3.727004e+05
mba_p         16.886973      34.028376  1.239934e+05
salary    372700.449468  123993.387361  2.259185e+10